<section id="home" class="home section">
  <div class="frame">
    <div class="home-content">
      <img class="home-perfil" src="/assets/perfil.jpg" alt="">
      <div class="social">
        <a href="#"><img src="/assets/linkedin.png" alt=""></a>
        <a href="#"><img src="/assets/github.png" alt=""></a>
      </div>
      <div class="home-column">
        <div class="h h1">PANADERO LUCAS</div>
        <div class="h h3">Full Stack Developer Jr</div>
        <div class="h h3">UX/Ui Designer</div>
      </div>
    </div>
  </div>
</section>