<header class="header">
  <div class="max-width">
    <a href="">
      <img src="/assets/aplogo.png" class="logo">
    </a>
    <ul class="nav-link">
      <li><a >Home</a></li>
      <li><a >About</a></li>
      <li><a routerLink>Education</a></li>
      <li><a routerLink>Skills</a></li>
      <li><a routerLink>Projects</a></li>
      <li><a routerLink>Contactme</a></li>
      <!-- <li><a routerLink="/login">Login</a></li> -->
    </ul>  
  </div>
</header>

<!-- (click)="toHome()" routerLink="/Home" routerLinkactive="active" -->
<!-- (click)="toAbout()" routerLinkactive="active" -->