<section id="about" class="about section">
  <div class="frame">
  <h2 class="tittle">Sobre mí</h2>
  <span class="about-mid-tittle">Introducción</span>
    <img src="/assets/about.jpg" class="about-img">
    <div class="about-data">
      <p class="about-description">My nombre es Lucas,
         soy desarrollador web Full Stack
        y diseñador UX/UI freelancer en Buenos Aires.
      </p>
      <div class="download-button">
        <a href="assets/pdf/cv.pdf">
          Descargar CV <i class="fas fa-download"></i>
        </a>
      </div>
    </div>
  </div>
</section>